---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import "variables";
@import "bootstrap";
@import "bootswatch";
@import "syntax-highlighting";

.site-footer {
    margin-top: 40px;
    border-top: 1px solid #98978B;
    padding-top: 10px;
}

.bg-context {
    padding: 15px;
}

.highlight code * {
  white-space: nowrap;    // this sets all children inside to nowrap
}

.highlight {
  overflow-x: auto;       // this sets the scrolling in x
}

.highlight code {
  white-space: pre;       // forces <code> to respect <pre> formatting
}

.img-example {
    border: 1px solid #DFD7CA;
    padding: 10px;
}